<!DOCTYPE html>
<html lang='ru'>

<head>
	<title>Первая страница</title>
	<link rel='stylesheet' href='../style.css' />
	<meta http-equiv='Content-type' content='text/html;charset=UTF-8' />
</head>

<body>
	Thise is home page.
	<br>
	{{greeting}}
	<form action="http://127.0.0.1:8000" method="GET" enctype="multipart/form-data">
		<div>
			<textarea name="usertext" id="textarea" cols="30" rows="10"></textarea>
		</div>
		<div class="button">
			<input type="submit" value="Reverse!">Reverse!</input>
		</div>
</body>

</html>